@font-face{
	font-family: mr_countryhouseg_0;
	font-display: swap;
	src: url("../fonts/mr_countryhouseg_0.woff2") format("woff2"), url("../fonts/mr_countryhouseg_0.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: RifficFree;
	font-display: swap;
	src: url("../fonts/RifficFree-Bold.woff2") format("woff2"), url("../fonts/RifficFree-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
